:root {
--primary-color:#CAD49D;
--secondary-color:#484538;
--accent-color:#C0D8E0;
--accent2-color: #56A3A6;
--heading-font:"Roboto", sans-serif;
--body-font:"Bebas Neue", sans-serif;




}
header{

    background-color: var(--primary-color);
    color: var(--accent2-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent-color);
}
header,main,footer {
    width: 840;
    margin: 0 auto;
}
h1,h2 {
font-family: var(--heading-font);
color: var(--primary-color);

}
nav,p,section,article {
margin: 16px;
padding: 8px;

}
.socialmedia a{
    text-decoration: none;
}