:root {
--primary-color:#CAD49D;
--secondary-color:#484538;
--accent-color:#C0D8E0;
--accent2-color: #56A3A6;
--heading-font:"Roboto", sans-serif;
--body-font:"Bebas Neue", sans-serif;

* 
{
margin:0;
padding:0;
box-sizing: border-box;
}


}
header{

    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent-color);
}
header,main,footer {
    width: 840;
    margin: 0 auto;
}
h1,h2 {
font-family: var(--heading-font);
color: var(--primary-color);

}
nav,p,section,article {
margin: 16px;
padding: 8px;

}
nav ul {

    display: flex;
    flex-flow:column ;
    align-content: space-between;
}

.socialmedia a{
    text-decoration: none;
}
.hero-image {
    position: relative;
}
.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--accent-color);
color: #fff;

}

.hero-image article img {
    float: right;
    width: 125px;
}